.div1{
    width: 600px;
    border-style: solid;
    border-radius: 20px;
    animation-name: backgroun;
    animation-iteration-count: infinite;
    border-width: 1px;
    background-color: white;
}
@keyframes backgroun{
    to{box-shadow: 1px,1px,25px,#2b2b2b;}
}
input{
    height: 40px;
    letter-spacing: 1px;
    font-size: large;

}
.an:hover{
    text-decoration: none;
}
#email,#password{
    width: 90%;
}
button{
    width: 80%;
}
.btn{
    background-color: #2b2b2b;
    color: white;
}